body{
    margin: 0px auto 0px auto;
    max-width: 600px;
    font-family: Georgia;
}

header {
    text-align: center;
    color: #a49379;
    background-color: #f9f5d7;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
}


li {
    display: inline-block;
}

a {
    color: black;
    padding: 10px;
    margin-top: -10px;
    text-decoration: underline dotted;
}

.links {
    text-align: center;
    border-bottom: 2px solid #eae8e8;
}

h2 {
    text-align: center;
}

.bild {
    background-image: url("borderterrier.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 320px;
    height: 320px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

h3 {
    font-size: 17px;
}

p {
    line-height: 20px;
}