body{
    margin: 0px auto 0px auto;
    max-width: 500px;
}

header {
    text-align: center;
    font-family: Georgia;
    color: #a49379;
    background-color: #f9f5d7;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
}


li {
    display: inline-block;
}

a {
    color: black;
    padding: 10px;
    margin-top: -10px;
    text-decoration: underline dotted;
}

.links {
    text-align: center;
    border-bottom: 2px solid #eae8e8;
}